body {
    text-align: center;
    background-color: black;
    color: aquamarine;
}

h1 {
    font-size: 40px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;
}

#intro{
    background-color:forestgreen;
}

#origami1{
   background-color:darkviolet;
}

#contact_1{
    background-color:darkmagenta;
}
#contact_1 h3
{
    display: inline;
}
#contact_1 a
{
    color: white;
    text-shadow: none;
}

.line {
    height: 6px;
    background-color: #000;
    width: 70px;
    margin: 8px auto;
}

h2{
    font-family: 'Raleway' , sans-serif;
}

h3{
    font-family: Trebuchet MS;
}
